package com.alive.{{ entity_lower }};

import lombok.RequiredArgsConstructor;
import org.springframework.http.HttpStatus;
import org.springframework.web.bind.annotation.*;
import java.util.List;

@RestController
@RequestMapping("/api/v1/{{ entity_lower }}s")
@RequiredArgsConstructor
public class {{ entity }}Controller {
    private final {{ entity }}Service {{ entity_lower }}Service;

    @GetMapping
    public List<{{ entity }}> findAll() {
        return {{ entity_lower }}Service.findAll();
    }

    @GetMapping("/{id}")
    public {{ entity }} findById(@PathVariable Long id) {
        return {{ entity_lower }}Service.findById(id);
    }

    @PostMapping
    @ResponseStatus(HttpStatus.CREATED)
    public {{ entity }} create(@RequestBody {{ entity }} {{ entity_lower }}) {
        return {{ entity_lower }}Service.save({{ entity_lower }});
    }

    @DeleteMapping("/{id}")
    @ResponseStatus(HttpStatus.NO_CONTENT)
    public void delete(@PathVariable Long id) {
        {{ entity_lower }}Service.deleteById(id);
    }
}
