import { createRouter, createWebHistory } from 'vue-router';

const routes = [
  {
    path: '/{{ entity_lower }}s',
    name: '{{ entity }}List',
    component: () => import('./pages/{{ entity_lower }}-list.vue'),
  },
  {
    path: '/{{ entity_lower }}s/:id',
    name: '{{ entity }}Detail',
    component: () => import('./pages/{{ entity_lower }}-detail.vue'),
  },
];

export default createRouter({
  history: createWebHistory(),
  routes,
});